.header {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav {
            .list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                gap: 5em;

                li {
                    a{
                        color: var(--color-white);
                        font-family: var(--font-secondary);
                        

                        &:hover {
                            color: var(--color-lighter-grey);
                            text-decoration: underline;
                        }

                        .logo {
                            width: 5em;
                            height: 3.2em;
                        }

                        .icon {
                            fill: var(--color-white);
                        }
                    }

                }  
            }
        }
    }
}