/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;
    --color-lighter-grey: #c9c9c9;
    --color-light-grey: #adadad;
    --color-grey: #939393;
    --color-dark-grey: #575757;
}
