{% include "_partials/_header.html" %}

 <section class="teams">
    <div class="wrapper">
        <ul>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/baleiniers.png" alt="Baleiniers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/deadfullzombies.png" alt="Deadful Zombies"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/dwarves.png" alt="Dwarves"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/fightingleprechauns.png" alt="Fighting Leprechauns"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/gretzkys.png" alt="Gretzkys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/lesboys.png" alt="Les Boys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mustangs.png" alt="Mustangs"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/oldtimers.png" alt="Old Timers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/Vandals.png" alt="Vandals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></a>
            </li>
        </ul>
    </div>
 </section>
<section class="hero">
        <div class="wrapper">
            <div class="starplayers"><h3>Etoiles de la semaine</h3></div>
            <section class="asides">
                <section class="aside player1">
                    <div class="stars"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"></div>
                    <h3 class="playername">Cole Caufield</h3>
                    <div class="playerpicture playerpicture1"><img src="../assets/images/caufield13.png" alt="Cole Caufield"></div>
                    <div class="teambg"><img src="../assets/images/senistresdark.png" alt="Senistres"></div>
                </section>
                <section class="aside player2">
                    <div class="stars"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"></div>
                    <h3 class="playername">Kyle Connor</h3>
                    <div class="playerpicture playerpicture2"><img src="../assets/images/connor81.png" alt="Kyle Connor"></div>
                    <div class="teambg"><img src="../assets/images/coldbeersdark.png" alt="Cold Beers"></div>
                </section>
                <section class="aside player3">
                    <div class="stars"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"><img class="staricon" src="../assets/icons/staricon.svg" alt="Star"></div>
                    <h3 class="playername">Nathan MacKinnon</h3>
                    <div class="playerpicture playerpicture3"><img src="../assets/images/mackinnon29.png" alt="Nathan MacKinnon"></div>
                    <div class="teambg"><img src="../assets/images/vigormortisdark.png" alt="Vigor Mortis"></div>
                </section>
            </section>
        </div>
</section>
<section class="standings">
    <div class="wrapper">
        <div class="aside2">
            <h3 class="leaguename">Classement Ligue Canadienne</h3>
            <div class="standing canadian">
                <ul>
                    <li>
                        <p>1.</p>
                        <div class="teamname senistres"><p>Senistres</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>2.</p>
                        <div class="teamname lesboys"><p>Les Boys</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/lesboys.png" alt="Les Boys"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>3.</p>
                        <div class="teamname baleiniers"><p>Baleiniers</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/baleiniers.png" alt="Baleiniers"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>4.</p>
                        <div class="teamname baleiniers"><p>Vigor Mortis</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>5.</p>
                        <div class="teamname flyingfrenchmen"><p>Flying Frenchmen</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>6.</p>
                        <div class="teamname maroons"><p>Maroons</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>7.</p>
                        <div class="teamname deadfulzombies"><p>Deadful Zombies</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/deadfullzombies.png" alt="Deadful Zombies"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>8.</p>
                        <div class="teamname fightingleprechauns"><p>Fighting Leprechauns</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/fightingleprechauns.png" alt="Fighting Leprechauns"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>9.</p>
                        <div class="teamname icepirates"><p>Ice Pirates</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>10.</p>
                        <div class="teamname targaryen"><p>Targaryen</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside2">
            <h3 class="leaguename">Classement Ligue Américaine</h3>
            <div class="standing american">
                <ul>
                    <li>
                        <p>1.</p>
                        <div class="teamname mojo"><p>Mojo</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>2.</p>
                        <div class="teamname jackals"><p>Jackals</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>3.</p>
                        <div class="teamname vandals"><p>Vandals</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vandals.png" alt="Vandals"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>4.</p>
                        <div class="teamname gretzkys"><p>Gretzkys</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/gretzkys.png" alt="Gretzkys"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>5.</p>
                        <div class="teamname coldbeers"><p>Cold Beers</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>6.</p>
                        <div class="teamname mustangs"><p>Mustangs</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/mustangs.png" alt="Mustangs"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>7.</p>
                        <div class="teamname dwarves"><p>Dwarves</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/dwarves.png" alt="Dwarves"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>8.</p>
                        <div class="teamname oldtimers"><p>Old Timers</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/oldtimers.png" alt="Old Timers"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>9.</p>
                        <div class="teamname archers"><p>Archers</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                    <li>
                        <p>10.</p>
                        <div class="teamname titans"><p>Titans</p></div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></div>
                        <div class="teamrecord"><p>0-0-0</p></div>
                        <div class="teampoints"><p>0</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="topplayers">
    <div class="wrapper">
        <div class="aside3">
            <div class="playergoals"><h3>Meilleurs marqueurs</h3></div>
            <div class="playerlist">
                <ul>
                    <li>
                        <div class="number"><p>1.</p></div>
                        <div class="playername">N. Kucherov</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>2.</p></div>
                        <div class="playername">N. MacKinnon</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>3.</p></div>
                        <div class="playername">L. Draisaitl</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>4.</p></div>
                        <div class="playername">D. Pastrnak</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>5.</p></div>
                        <div class="playername">S.Crosby</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>6.</p></div>
                        <div class="playername">C. McDavid</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>7.</p></div>
                        <div class="playername">C. Caufield</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>8.</p></div>
                        <div class="playername">C. Makar</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>9.</p></div>
                        <div class="playername">A. Matthews</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>10.</p></div>
                        <div class="playername">J. Hughes</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></div>
                        <div class="playergoals"><p>0 buts</p></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside3">
            <div class="playergoals"><h3>Meilleurs pointeurs</h3></div>
            <div class="playerlist">
                <ul>
                    <li>
                        <div class="number"><p>1.</p></div>
                        <div class="playername">L. Draisaitl</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>2.</p></div>
                        <div class="playername">W. Nylander</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>3.</p></div>
                        <div class="playername">A. Ovechkin</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>4.</p></div>
                        <div class="playername">T. Thompson</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>5.</p></div>
                        <div class="playername">D. Pastrnak</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>6.</p></div>
                        <div class="playername">B. Point</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>7.</p></div>
                        <div class="playername">K. Connor</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>8.</p></div>
                        <div class="playername">N. Suzuki</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>9.</p></div>
                        <div class="playername">M. Scheifele</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                    <li>
                        <div class="number"><p>10.</p></div>
                        <div class="playername">S. Reinhart</div>
                        <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                        <div class="playergoals"><p>0 pts</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% include "_partials/_footer.html" %}
