{% include "_partials/_header.html" %}

 <section class="teams">
    <div class="wrapper">
        <ul>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/baleiniers.png" alt="Baleiniers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/deadfullzombies.png" alt="Deadful Zombies"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/dwarves.png" alt="Dwarves"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/fightingleprechauns.png" alt="Fighting Leprechauns"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/gretzkys.png" alt="Gretzkys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/lesboys.png" alt="Les Boys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mustangs.png" alt="Mustangs"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/oldtimers.png" alt="Old Timers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/Vandals.png" alt="Vandals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></a>
            </li>
        </ul>
    </div>
 </section>
 <section class="hero">
            <div class="wrapper">
                <div class="stars"><h3>Etoiles de la semaine</h3></div>
                <section class="asides">
                    <section class="aside">
                    <div class="stars"></div>
                    <div class="playername">Cole Caufield</div>
                    <div class="playerpicture"><img class="logo" src="../assets/images/caufield13.png" alt="Cole Caufield"></div>
                </section>
                <section class="aside">
                    <div class="stars"></div>
                    <div class="playername">Kyle Connor</div>
                    <div class="playerpicture"><img class="logo" src="../assets/images/connor81.png" alt="Kyle Connor"></div>
                </section>
                <section class="aside">
                    <div class="stars"></div>
                    <div class="playername">Nathan MacKinnon</div>
                    <div class="playerpicture"><img class="logo" src="../assets/images/mackinnon29.png" alt="Nathan MacKinnon"></div>
                </section>
                </section>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <div class="aside2">
                    <div class="leaguename"><h3>Classement Ligue Canadienne</h3></div>
                    <div class="standings">
                        <ul>
                            <li>
                                <div class="teamname">Senistres</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Les Boys</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/lesboys.png" alt="Les Boys"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Baleiniers</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/baleiniers.png" alt="Baleiniers"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Vigor Mortis</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Flying Frenchmen</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Maroons</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Deadful Zombies</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/deadfullzombies.png" alt="Deadful Zombies"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Fighting Leprechauns</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/fightingleprechauns.png" alt="Fighting Leprechauns"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Ice Pirates</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Targaryen</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="aside2">
                    <div class="leaguename"><h3>Classement Ligue Américaine</h3></div>
                    <div class="standings">
                        <ul>
                            <li>
                                <div class="teamname">Mojo</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Jackals</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Vandals</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vandals.png" alt="Vandals"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Gretzkys</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/gretzkys.png" alt="Gretzkys"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Cold Beers</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Mustangs</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/mustangs.png" alt="Mustangs"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Dwarves</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/dwarves.png" alt="Dwarves"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Old Timers</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/oldtimers.png" alt="Old Timers"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                            <li>
                                <div class="teamname">Archers</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></div>
                                <div class="teamrecord"><p>0-0-0</p></div>
                                <div class="teampoints"><p>0</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="topplayers">
            <div class="wrapper">
                <div class="aside3">
                    <div class="playergoals"><h3>Meilleurs marqueurs</h3></div>
                    <div class="playerlist">
                        <ul>
                            <li>
                                <div class="number"><p>1.</p></div>
                                <div class="playername">N. Kucherov</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>2.</p>></div>
                                <div class="playername">N. MacKinnon</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>3.</p>></div>
                                <div class="playername">L. Draisaitl</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>4.</p>></div>
                                <div class="playername">D. Pastrnak</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>5.</p>></div>
                                <div class="playername">S.Crosby</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>6.</p>></div>
                                <div class="playername">C. McDavid</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>7.</p>></div>
                                <div class="playername">C. Caufield</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>8.</p>></div>
                                <div class="playername">C. Makar</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>9.</p>></div>
                                <div class="playername">A. Matthews</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>10.</p>></div>
                                <div class="playername">J. Hughes</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></div>
                                <div class="playergoals"><p>0 buts</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="aside3">
                    <div class="playergoals"><h3>Meilleurs pointeurs</h3></div>
                    <div class="playerlist">
                        <ul>
                            <li>
                                <div class="number"><p>1.</p></div>
                                <div class="playername">L. Draisaitl</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>2.</p>></div>
                                <div class="playername">W. Nylander</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>3.</p>></div>
                                <div class="playername">A. Ovechkin</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>4.</p>></div>
                                <div class="playername">T. Thompson</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>5.</p>></div>
                                <div class="playername">D. Pastrnak</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>6.</p>></div>
                                <div class="playername">B. Point</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>7.</p>></div>
                                <div class="playername">K. Connor</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>8.</p>></div>
                                <div class="playername">N. Suzuki</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>9.</p>></div>
                                <div class="playername">M. Scheifele</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                            <li>
                                <div class="number"><p>10.</p>></div>
                                <div class="playername">S. Reinhart</div>
                                <div class="teamlogo"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></div>
                                <div class="playergoals"><p>0 pts</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


{% include "_partials/_footer.html" %}
