{% include "_partials/_header.html" %}

<header>
    <div class="wrapper">
        <div class="nav">
            <ul>
                <li>
                    <a href="#" class="logo"><img src="assets/images/LogoZHL.png" class="logoZHL" alt="Logo ZHL"></a>
                </li>
                <li>
                    <a href="#" class="links">Résultats</a>
                </li>
                <li>
                    <a href="#" class="links">Calendrier</a>
                </li>
                <li>
                    <a href="#" class="links">Classement</a>
                </li>
                <li>
                    <a href="#" class="links">Ligue <span class="plus">+</span></a>
                </li>
                <li>
                    <a href="#" class="links">Coin du DG <span class="plus">+</span></a>
                </li>
                <li>
                    <a href="#" class="links">Connexion 
                        <span class="iconConnexion">
                            <svg class="icon icon--md">
                                <use xlink:href="#icon-power"></use>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

{% include "_partials/_footer.html" %}
