{% include "_partials/_header.html" %}

 <section class="teams">
    <div class="wrapper">
        <ul>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/archers.png" alt="Archers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/baleiniers.png" alt="Baleiniers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/coldbeers.png" alt="Cold Beers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/deadfullzombies.png" alt="Deadful Zombies"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/dwarves.png" alt="Dwarves"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/fightingleprechauns.png" alt="Fighting Leprechauns"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/flyingfrenchmen.png" alt="Flying Frenchmen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/gretzkys.png" alt="Gretzkys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/icepirates.png" alt="Ice Pirates"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/jackals.png" alt="Jackals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/lesboys.png" alt="Les Boys"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/maroons.png" alt="Maroons"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mojo.png" alt="Mojo"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/mustangs.png" alt="Mustangs"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/oldtimers.png" alt="Old Timers"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/senistres.png" alt="Senistres"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/targaryen.png" alt="Targaryen"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/titans.png" alt="Titans"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/Vandals.png" alt="Vandals"></a>
            </li>
            <li>
                <a href="#"><img class="teamlogo" src="../assets/images/vigormortis.png" alt="Vigor Mortis"></a>
            </li>
        </ul>
    </div>
 </section>
 <section class="heroteams">
    <img class="herobg" src="../assets/images/herosenistres.png" alt="Hero Senistres">
 </section>
 <section class="lineup">
    <div class="wrapper">
        <div class="roster">
            <h2>Alignement</h2>
            <div class="players">
                <div class="active">
                    <h3>Attaquants</h3>
                    <div class="forwards">
                        <ul>
                            <li class="line line1">
                                <img class="player" src="../assets/images/caufieldjersey.png" alt="Cole Caufield">
                                <img class="player" src="../assets/images/suzukijersey.png" alt="Nick Suzuki">
                                <img class="player" src="../assets/images/kniesjersey.png" alt="Matthew Knies">
                            </li>
                            <li class="line line2">
                                <img class="player" src="../assets/images/fantillijersey.png" alt="Adam Fantilli">
                                <img class="player" src="../assets/images/seguinjersey.png" alt="Tyler Seguin">
                                <img class="player" src="../assets/images/verhaeghejersey.png" alt="Carter Verhaeghe">
                            </li>
                            <li class="line line3">
                                <img class="player" src="../assets/images/laughtonjersey.png" alt="Scott Laughton">
                                <img class="player" src="../assets/images/bennettjersey.png" alt="Sam Bennett">
                                <img class="player" src="../assets/images/meierjersey.png" alt="Timo Meier">
                            </li>
                            <li class="line line4">
                                <img class="player" src="../assets/images/faksajersey.png" alt="Radek Faksa">
                                <img class="player" src="../assets/images/sissonsjersey.png" alt="Colton Sissons">
                                <img class="player" src="../assets/images/rempejersey.png" alt="Matt Rempe">
                            </li>
                        </ul>
                    </div>
                    <h3>Defenseurs</h3>
                    <div class="defenders">
                        <ul>
                            <li class="pair pair1">
                                <img class="player" src="../assets/images/sandersonjersey.png" alt="Jake Sanderson">
                                <img class="player" src="../assets/images/faberjersey.png" alt="Brock Faber">
                            </li>
                            <li class="pair pair2">
                                <img class="player" src="../assets/images/harleyjersey.png" alt="Thomas Harley">
                                <img class="player" src="../assets/images/sanheimjersey.png" alt="Travis Sanheim">
                            </li>
                            <li class="pair pair3">
                                <img class="player" src="../assets/images/ekmanlarssonjersey.png" alt="Oliver Ekman-Larsson">
                                <img class="player" src="../assets/images/mansonjersey.png" alt="Josh Manson">
                            </li>
                        </ul>
                    </div>
                    <h3>Gardiens</h3>
                    <div class="goalies">
                        <ul>
                            <li class="goalie goalie1">
                                <img class="player" src="../assets/images/wolfjersey.png" alt="Dustin Wolf">
                            </li>
                            <li class="goalie goalie2">
                                <img class="player" src="../assets/images/rittichjersey.png" alt="David Rittich">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="others">
                    <h4>Non-actifs</h4>
                    <div class="nonactive">
                        <ul>
                            <li class="player"></li>
                        </ul>
                    </div>
                    <h4>Mineures</h4>
                    <div class="minors">
                        <ul>
                            <li class="player"></li>
                            <li class="player"></li>
                        </ul>
                    </div>
                    <h4>Espoirs</h4>
                    <div class="prospects">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
 
 {% include "_partials/_footer.html" %}